.btn {
  background-color: var(--theme-color, orange);
}

.login {
  color: var(--theme-color, orange);
  background: #fff;
}

.login:focus,
.login:active {
  color: #fff;
  background: var(--theme-color, orange);
}

.register {
  color: #fff;
  background: var(--theme-color, orange);
}

.register:focus,
.register:active {
  color: var(--theme-color, orange);
  background: #fff;
}

/* .login:focus ~ button,
.login:active ~ button {
  color: #fff !important;
  background: var(--theme-color, orange) !important;
}

.register:focus ~ button,
.register:active ~ button {
  background: #fff !important;
  color: var(--theme-color, orange) !important;
} */
