.btn {
  background-color: var(--theme-color, orange);
}

.login,
.register {
  color: #fff;
  background: var(--theme-color, orange);
  border-width: 2px !important;
  border-radius: 2px;
}

.login:focus,
.register:focus,
.login:active,
.register:active,
.login:hover,
.register:hover {
  background: #fff;
  color: var(--theme-color, orange);
}
