/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

:root {
  --theme-color: #fb8434;
  --jumia: #f68c35;
  --redstore: #ff523b;
}

body {
  padding-top: 6.6rem;
  background-color: #e5e5e5 !important;
  min-height: 100vh;
}
